body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
button{
    background-color: brown;
    color: white;
    border-radius: 12px;
    border:1px solid rgba(0,0,0,1);
}
table{
    border-collapse: collapse;
}
td, th {
    border: 3px solid brown;
    color: brown;
}
caption {
    color: brown;
    font-size: 2em;
}
